section .tsn__noticias__principais .item{
    width: 200px;
    height: 300px;
    border-radius: 20px;
    position: absolute;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    top: 25%;
    transition: 0.5s;
}


.tsn__noticias__principais .tsn__image{
    width: 100%;
    height: 100%;
}

.tsn__noticias__principais  .tsn__image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.tsn__noticias__principais .item:nth-child(1){
    top: 0;
    left: -30px;    
    transform: translate(0, 0);
    border-radius: 10px;
    width: 105%;
    height: 100%;
}

.tsn__noticias__principais .item:nth-child(1) img{
    filter: brightness(0.60) opacity(0.95);
}

.tsn__noticias__principais .item:nth-child(2){
    left: 50%;
    opacity: 0;
}

.tsn__noticias__principais .item:nth-child(2) img{
    width: 100%;
    height: 100%;
}


.tsn__noticias__principais .item:nth-child(3){
    left: calc(50% + 220px);
    display: none;
}

.tsn__noticias__principais .item:nth-child(4){
    left: calc(50% + 440px);
    display: none;
}


.tsn__noticias__principais .item:nth-child(2):hover{
    width: 210px;
    height: 310px;
    top: 155px;
}

.tsn__noticias__principais .item:nth-child(3):hover{
    width: 210px;
    height: 310px;
    top: 155px;
    cursor: pointer;
}

.tsn__noticias__principais .item:nth-child(4):hover{
    width: 210px;
    height: 310px;
    top: 155px;
    cursor: pointer;
}

.tsn__noticias__principais .item:nth-child(1) .content{
    display: inline-block;
}

.tsn__noticias__principais .content{
    position: absolute;
    top: 50%;
    width: 55%;
    height: 40%;
    border: none;
    text-align: left;
    transform: translate(0, -50%);
    display: none;
}

.tsn__noticias__principais .content .tsn__title{
    position: absolute;
    color: white;
    top: 30%;
    left: 50px;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 999;
    text-transform: uppercase;
    border: none;
    font-style: normal;
    animation: tsn__animate 0.9s ease-in-out 1 forwards;
}

.tsn__noticias__principais .content .tsn__title:hover{
    text-decoration: underline red;
}

.tsn__noticias__principais .content .tsn__description{
    position: absolute;
    color: white;
    top: 53%;
    font-size: 20px;
    left: 50px;
    font-weight: 500;
    animation: tsn__animate 0.9s ease-in-out 1 forwards;
}

.tsn__noticias__principais .content .tsn__description:hover{
    text-decoration: underline red;
}


.tsn__noticias__principais .content .tsn__content__creator{
    position: absolute;
    display: flex;
    padding: 20px;
    top: 70%;
    width: 450px;
    left: 30px;
    font-weight: 500;
    animation: border__content 0.10s ease-in-out 1 forwards;
}

.tsn__noticias__principais .content .tsn__content__creator a{
    color: white;
}

.tsn__noticias__principais .content .tsn__creator{
    animation: tsn__animate 0.9s ease-in-out 1 forwards;
}

.tsn__noticias__principais .content .tsn__creator a{
    border-bottom: 1px solid red;
}

.tsn__noticias__principais .content .tsn__creator a:hover{
    border-bottom: 3px solid red;
}


.tsn__noticias__principais .content .tsn__hora__noticia{
    position: absolute;
    left: 80%;
    animation: tsn__animate 0.9s ease-in-out  1 forwards;
}

.tsn__noticias__principais .content .tsn__tag{
    position: absolute;
    border-left: 3px solid rgba(255, 55, 55, .8);
    width: 100px;
    height: 30px;
    bottom: 400px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: tsn__animate 0.9s ease-in-out 1 forwards;
    transition: all 0.5s;
    -webkit-transition: .3 ease-in-out;
}


.tsn__noticias__principais .content .tsn__tag:hover{
    background-color: rgba(255, 55, 55);
}

.tsn__noticias__principais .content .tsn__tag .tag{
    color: white;
}

.tsn__noticias__principais span{
    color: white;
}


section .tsn__button__principais{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    width: 100%;
    bottom: 150px;
    left: -10px;
    z-index: 3;
}

section .tsn__button__principais button{
    width: 40px;
    height: 40px;
    border-radius: 90%;
    border: none;
    margin: 0 5px;
}


@keyframes tsn__animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(10px);
        border: none;
    }
    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

@keyframes border__content {
    from{
        opacity: 0;
        border: none;
    }
    to{
        opacity: 1;
        border-top: 1px solid grey;
    }
}